.proyecto-header {
  font-size: 1rem;
  font-weight: bold;
  padding: 12px 30px;
  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, 0.9);
  background: linear-gradient(145deg, rgba(0, 123, 255, 0.8), rgba(0, 200, 255, 0.6));
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: fit-content;
  box-shadow: 0px 4px 15px rgba(0, 123, 255, 0.7), inset 0px 0px 10px rgba(255, 255, 255, 0.3);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background 0.3s;
}

.proyecto-header:hover {
  transform: scale(1.1);
  box-shadow: 0px 6px 20px rgba(0, 123, 255, 0.9), inset 0px 0px 15px rgba(255, 255, 255, 0.5);
  background: linear-gradient(145deg, rgba(0, 90, 255, 0.8), rgba(0, 170, 255, 0.6));
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}

.proyecto-header span {
  display: inline-block;
  border-bottom: 3px solid rgba(255, 255, 255, 0.8);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  padding: 6px 12px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.proyecto-header span:hover {
  background: rgba(0, 123, 255, 0.4);
  border-bottom: 3px solid rgba(0, 123, 255, 0.8);
}