
.my-custom-blue {
  background-color: #0d6efd;
  color: #fff;
  border: 1px solid #0d6efd;
  transition: background-color 0.3s ease;
}

.my-custom-blue:hover {
  background-color: #084298;
  border-color: #084298;
  color: #fff;
}

.my-custom-blue:disabled {
  background-color: hsl(208, 63%, 45%);
  border-color: hsl(208, 86%, 30%);
  color: #ffffff;
}
  /* Estilo moderno para la sección principal */
